/* Kill Team stylesheet */
/* https://github.com/r0tational/warhammer-battlescribe-css/blob/master/killteam-battlescribe.css */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Oswald:wght@700&display=swap');

html {
	background-color: #f5f0dd;
}

.page {
	overflow-x: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.back-icon {
	position: absolute;
	margin: 10px;
	top: 10px;
	left: 10px;
}

a,
u {
	text-decoration: none !important;
}

a:link {
	color: black;
} /* unvisited link */
a:visited {
	color: black;
} /* visited link */
a:hover {
	color: black;
} /* mouse over link */
a:active {
	color: black;
} /* selected link */
